{% extends "base.html" %}

{% block content %}
  <p>
    This is a semi-organized bookmark collection of pages which were either
    interesting or pages which looked like an interesting read for a rainy day.
  </p>

  {% set data = load_data(path="content/bookmarks/data.yml") %}

  <div class="uk-column-1-2">
    {% for section in data.sections %}
      <h4>{{ section.name }}</h4>
      {% for link in section.links %}
        <div>
          <a href="{{ link.url }}">{{ link.text }}</a>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock content %}
