{% extends "base.html" %}

{% block content %}
  {% set data = load_data(path="content/bookmarks.yml") %}

  {% set counter = 1 %}
  {% for section in data.sections %}
    {% for link in section.links %}
      {% set_global counter = counter + 1 %}
    {% endfor %}
  {% endfor %}

  <p>
    Instead of this page I could have
    {{ counter }}
    browser tabs open.
  </p>

  <div class="uk-column-1-2">
    {% for section in data.sections %}
      <div class="no-break uk-margin-large-bottom">
        <h4>{{ section.name }}</h4>
        {% for link in section.links %}
          <div>
            <a href="{{ link.url }}" target="_blank">{{ link.text }}</a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}
