<div class="site-footer">
  <ul class="uk-iconnav uk-text-muted">
    <li class="uk-margin-large-right">
      <a href="mailto:fistname.lastname@uit.no"
         uk-icon="icon: mail">
        firstname.lastname@uit.no
      </a>
    </li>

    <li class="uk-margin-large-right">
      <a href="https://bsky.app/profile/radovan.bsky.social"
         target="_blank"
         uk-icon="icon: bluesky">
        @radovan
      </a>
    </li>

    <li class="uk-margin-large-right">
      <a href="https://fosstodon.org/@radovan"
         target="_blank"
         uk-icon="icon: mastodon">
        @radovan@fosstodon.org
      </a>
    </li>

    <li class="uk-margin-large-right">
      <a href="https://github.com/bast"
         target="_blank"
         uk-icon="icon: github">
        @bast
      </a>
    </li>
  </ul>
</div>
