{% macro toc(page) %}
  {% if page.toc %}
    <ul>
      {% for h1 in page.toc %}
        <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
            <ul>
              {% for h2 in h1.children %}
                <li>
                  <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro toc %}

{% macro projects(count) %}
  {% set data = load_data(path="content/projects/data.yml") %}

  {% for project in data.projects %}
    {% if loop.index <= count %}
      <div class="uk-child-width-expand@s" uk-grid>
        <div class="uk-width-1-6@s">
          {% if project.image %}
            <a target="_blank" href="{{ project.url | safe }}">
              {% if 'http' in project.image %}
                <img src="{{ project.image | safe }}"
                     alt="{{ project.name }} project icon"
                     width="100">
              {% else %}
                {% set img = resize_image(path="projects/" ~ project.image, width=100, op="fit_width") %}
                <img src="{{ img.url }}"
                     alt="{{ project.name }} project icon">
              {% endif %}
            </a>
          {% else %}
            <!-- <img src="/images/wireframe/image.png"> -->
          {% endif %}
        </div>

        <div class="uk-width-5-6@s">
          <div class="content">
            <h5>
              <a target="_blank" href="{{ project.url | safe }}">{{ project.name }}</a>
            </h5>
            <p>{{ project.text | markdown | safe }}</p>
            {% if project.role %}
              <div class="uk-text-muted">
                My role: {{ project.role }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if loop.index < count %}
      <hr>
    {% endif %}
  {% endfor %}
{% endmacro toc %}
