{% extends "base.html" %}

{% block content %}
  {% set data = load_data(path="content/publications.yml") %}
  {% for publication in data.publications | reverse %}
    <div class="uk-margin-bottom">
      {{ publication.authors }} <br>
      {{ publication.title }} <br>
      <a href="http://dx.doi.org/{{ publication.doi }}">
        {{ publication.journal }}
        {% if publication.volume %}
          {{ publication.volume }}, {{ publication.page }}
        {% endif %}
        ({{ publication.year }})
      </a>
      {% if publication.correction %}
        <a href="http://dx.doi.org/{{ publication.correction }}">(correction/addition)</a>
      {% endif %}
    </div>
  {% endfor %}
{% endblock content %}
