{% extends "base.html" %}

{% block content %}
  <a href="/publications/latex/">Show LaTeX-friendly version</a>
  <br>
  <br>
  <br>

  {% set data = load_data(path="content/publications/data.yml") %}
  {% for publication in data.publications | reverse %}
    <div>
      {{ publication.authors }}
      <br>
      <em>{{ publication.title }}</em>
      <br>
      <a href="http://dx.doi.org/{{ publication.doi }}">
        {{ publication.journal }}
        {% if publication.volume %}
          {{ publication.volume }}, {{ publication.page }}
        {% endif %}
        ({{ publication.year }})
      </a>
      {% if publication.correction %}
        <a href="http://dx.doi.org/{{ publication.correction }}">(correction/addition)</a>
      {% endif %}
      <br>
      <br>
    </div>
  {% endfor %}
{% endblock content %}
